* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
  }
  
  .bmi-container {
    width: 400px;
    height: 500px;
    border: solid transparent 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
  }
  
  .input {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
  }
  
  button {
    padding: 8px;
    border-radius: 5px;
    background-color: #000708;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
  }
  
  #results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .result {
    margin: 10px;
    font-size: 16px;
  }
  
  span {
    font-weight: bold;
  }
  